.navbar {
  height: 5rem;
  width: 100%;
  top: 0;
  display: inline;
  z-index: 9;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  
  
}
.innernavbar {
  display: flex;
  justify-content: space-between;
  width: 82%;

  margin: 0 auto;
}
.icon {
  height: 4rem;
}
.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;

  font-size: 25px;
  padding: 0rem 2rem;
}
.count {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: rgb(255, 86, 86);
  width: 20px;
  color: white;
  font-weight: 600;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  animation: 0.5s infinite alternate bounce;
}

@keyframes bounce {
  from {
    top: -12px;
  }
  to {
    top: -7px;
  }
}
.cart {
  position: relative;
}
.cartIcon {
  font-size: 25px;
  background: none;
  z-index: 9;
}
