.main {
  min-height: 100%;
}
.productDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem 10rem;
}

.productDetailImage {
  height: 400px;
  transition: all 1s ease-out;
  width: 250px;
}
.productDetailImage:hover {
  transition: all 1s ease-in-out;
  transform: translateY(20px) translateX(20px) scale(1.2);
}
.rightProductDetail {
  width: 70%;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.leftProductDetail {
  width: 30%;
}
.productDescc {
  font-size: 18px;
}
.productDetailTitle {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(96, 96, 96);
}
.productDetailCategory {
  font-size: 2rem;
  color: rgb(99, 99, 99);
  text-transform: capitalize;
  margin-top: 1rem;
}

.productDetailDesc {
  font-size: 1.2rem;
  color: rgb(30, 29, 29);
  margin-top: 3rem;
}
.productDetailPrice {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(1, 170, 1);
}
.productDetailPriceDisc {
  font-size: 1.2rem;
  font-weight: 500;
}
.productDetailPrices {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
.productRating {
  display: flex;
  gap: 20px;
}
.productRatingSpan {
  position: relative;
  display: flex;
  gap: 5px;
}
.ratingStar {
  position: absolute;
  top: 3px;
  left: 20px;
  color: gold;
}
.productDetailButton {
  margin-top: 20px;
}
.rightProductDetailBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rightProductDetailBottomLeft {
}
.rightProductDetailBottomRight {
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetailButton {
  width: 10rem;
  background-color: rgb(1, 170, 1);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  transition: all .5s ease-in-out;
}
.productDetailButton:hover {
  background-color: rgb(3, 240, 3);
  color: white;
}
